<div class="grid">
    <div class="grid grid-cols-2">
        <div class="col-span-8">
            <div>Foto</div>
            <div>Nombre</div>
        </div>
        <div class="col-span-4">
            <div>Cargar</div>
            <div>Guardar</div>
        </div>
    </div>
    <div class="grid grid-cols-2">
        <div class="col-span-6">
            <div>Saque</div>
            <div>Juegos</div>
        </div>
        <div class="col-span-6">
            <div>Puntos</div>
            <div>Sets</div>
        </div>
    </div>
</div>