.console-content {
    padding: 20px;
    background-color: #efefef;
    height: 100vh;
}

.navbar {
    display: flex;
    border-bottom: 1px solid black;
    margin: -20px -20px 20px;
    padding: 20px;
    div {
        margin-right: 20px;
        cursor: pointer;
    }
}